[Unit]
Description=Immich Server
Requires=immich-network.service
After=immich-network.service

[Container]
Image=ghcr.io/immich-app/immich-server:release
ContainerName=immich
AutoUpdate=registry
Network=immich.network
PublishPort=2283:2283
Volume=/srv/immich/upload:/usr/src/app/upload:Z
EnvironmentFile=/etc/immich/immich.env
Environment=DB_USERNAME=immich DB_PASSWORD=immich-demo-1234

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
